html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(34, 34, 34);
}

/* Center align the content inside the root element */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}